::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: gray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #575757;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b4747;
}

.custom-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}